<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/font.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/media.css">
    <link rel="stylesheet" href="/styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

</head>
<body>
<div class="container ruoswald">
    <header>
        <div class="header-wrapper">
            <div class="header-left-part">
                <a class="page__link" data-th-href="@{/catalog/products/list}">Главное</a><a class="page__link"
                                                                                             data-th-href="@{/catalog/products/create}">Создать</a>
            </div>
            <div class="search-container header-center-part">
                <label for="search" id="search-wrapper">
                    <span class="material-symbols-outlined">search</span>
                    <input type="search" name="search" id="search" placeholder="Поиск">
                </label>
            </div>
            <div class="header-right-part">
                <span class="material-symbols-outlined header-icon">notifications</span>

                <img src="/images/defaultimage.png"
                     loading="lazy"
                     class="author-header-avatar header-icon"
                     alt="Ава профиля">

                <span class="material-symbols-outlined header-icon">chat</span>

                <span class="material-symbols-outlined header-icon">keyboard_arrow_down</span>
            </div>
        </div>
    </header>
    <main>
        <div class="pinterest-container">
            <div class="pinterest-wrapper" data-th-each="productEntity : ${products}">
                <div class="pinterest-box up-part">
                    <a data-th-href="@{/catalog/products/{id}(id=${productEntity.id})}">
                        <img class="darken-on-hover"
                             data-th-if="${productEntity.productImageList != null && !productEntity.productImageList.isEmpty()}"
                             data-th-src="@{/catalog/products/images/{id}(id=${productEntity.productImageList[0].id})}"
                             alt="Изображение объекта"
                             loading="lazy"
                        >
                        <img class="darken-on-hover"
                             data-th-unless="${productEntity.productImageList != null && !productEntity.productImageList.isEmpty()}"
                             src="/images/defaultimage.png"
                             alt="Изображение объекта"
                             loading="lazy"
                        >
                    </a>
                    <span title="Дополнительные функции"
                          class="material-symbols-outlined more__functions">more_horiz</span>
                </div>
                <div class="bottom-part">
                    <p id="product-details" data-th-text="${productEntity.details}"></p>

                    <div class="author-info">
                        <a href="#">
                            <img class="author-avatar"
                                 loading="lazy"
                                 src="/images/defaultimage.png"
                                 alt="ава объекта">
                        </a>
                        <a data-th-href="@{/catalog/products/{id}(id=${productEntity.id})}" id="product-link">Объект</a>
                    </div>
                    <span title="Дополнительные функции"
                          class="material-symbols-outlined more__functions">more_horiz</span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-wrapper">
                <div class="footer_navigation">
                    <ul>
                        <li>
                            <span class="material-symbols-outlined">home</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">search</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">chat</span>
                        </li>
                        <li>
                            <img src="/images/defaultimage.png" alt="ава аккаунта">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>