<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${product.name}]]</title>
</head>
<body>
<div class="container">
    <h1 data-th-text="${product.name}"></h1>
    <a data-th-href="@{/catalog/products/list}">Вернуться к списку товаров</a>
    <ul>
        <li>
            <strong>ID:</strong>
            <span data-th-text="${product.id}"></span>
        </li>
        <li>
            <strong>Описание:</strong>
            <span data-th-text="${product.details}"></span>
        </li>
        <img data-th-src="@{/catalog/products/images/{id}(id=${product.id})}" alt="image">
    </ul>
    <button id="deleteProduct"
            data-th-attr="data-product-id=${product.id}"
            type="button">Удалить товар</button>
</div>
<script src="/deleteProduct.js" defer></script>
</body>
</html>