<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Кукисы</title>
</head>
<body>
<ul>
    <li data-th-each="cookie : ${cookies}">
        <h2 data-th-text="${cookie.name}"></h2>
        <p data-th-text="${cookie.value}"></p>
        <p data-th-text="${cookie.maxAge}"></p>
        <p data-th-text="${cookie.httpOnly}"></p>
        <p data-th-text="${cookie.path}"></p>
    </li>
</ul>
<button onclick="clearCookies()" type="submit">Очистить куки</button>

<script src="/main.js" defer></script>
</body>
</html>